[data-theme='compact'] .shop-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane,
.shop-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
    background: transparent;
    border-radius: 8px;
}

[data-theme='compact'] .shop-container > .ant-tabs-card > .ant-tabs-bar,
.shop-container > .ant-tabs-card > .ant-tabs-bar {
    border-color: transparent;
    text-align: center;
    border-radius: 8px;
}

[data-theme='compact'] .shop-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab,
.shop-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
    border-color: transparent;
    background: transparent;
}

[data-theme='compact'] .shop-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab,
.shop-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab:hover {
    color: #0e6dcd;
}

[data-theme='compact'] .shop-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active,
.shop-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
    border-color: #fff;
    color: #0e6dcd;
    border-radius: 8px;
    background: #f2f2f2;
}


.new-shop-background {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
